root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8


[*.{appxmanifest,asax,ascx,aspx,build,config,cs,cshtml,csproj,dbml,discomap,dtd,fs,fsi,fsscript,fsx,htm,html,jsproj,lsproj,master,ml,mli,njsproj,nuspec,proj,props,razor,resw,resx,skin,StyleCop,targets,tasks,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

# file_header_template = \n//------------------------------------------------------------------------------ \n//\n// Copyright 2022 (C) Raylib-CSharp-Vinculum, Raylib-CsLo and Contributors. \n// This file is licensed to you under the MPL-2.0.\n// See the LICENSE file in the project's root for more info.\n//\n// Raylib-CSharp-Vinculum, bindings for Raylib 4.2.\n// Find Raylib-CSharp-Vinculum here: https://github.com/ZeroElectric/Raylib-CSharp-Vinculum\n// Find Raylib here: https://github.com/raysan5/raylib\n//\n//------------------------------------------------------------------------------\n

dotnet_diagnostic.IDE0073.severity = warning

[*.cs]
indent_style = tab

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = error

# CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = error

# CS8619: Nullability of reference types in value doesn't match target type.
dotnet_diagnostic.CS8619.severity = error

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS0642: Possible mistaken empty statement
dotnet_diagnostic.CS0642.severity = error

# CS1717: Assignment made to same variable
dotnet_diagnostic.CS1717.severity = error

[Tests/**.cs]