[submodule "Libs/raylib"]
	path = Libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Libs/rres"]
	path = Libs/rres
	url = https://github.com/raysan5/rres.git
[submodule "Libs/raygui"]
	path = Libs/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "Libs/physac"]
	path = Libs/physac
	url = https://github.com/raysan5/physac.git
