[submodule "Libs/raylib"]
	path = Libs/raylib
	url = https://github.com/raysan5/raylib
[submodule "Libs/physac"]
	path = Libs/physac
	url = https://github.com/raysan5/physac
[submodule "Libs/raygui"]
	path = Libs/raygui
	url = https://github.com/raysan5/raygui
[submodule "Libs/rres"]
	path = Libs/rres
	url = https://github.com/raysan5/rres
